.card {
	position: relative;
	.card-fill {
		// display: none;
		background: #fff;
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		color: black;
		transition:  0.3s;
	}
	.card-img img{
		width: 100%;
	}
	.card-name h4 {
		margin: 0;
		padding: 24px;
		font-size: 22px;
		text-transform: uppercase;
	}
	.type span, .reaction span {
		text-transform: uppercase;
	}
	.card-footer {
		position: absolute;
		width: 100%;
		padding: 0 24px;
		bottom: 20px;
	}
	.reaction {
		right: 24px;
	}
	.card-footer i {
		padding-right: 7px;
	}
	.type span {
		font-weight: 300;
	}
	.number-of-react {
		margin-right: 3px;
		font-weight: 700;
	}
	
}
