// Start: card

mixin card(urlimg,name,type_name, number)

  .card.card-wrap
    .card-img
      a(href="#")
        img(src= urlimg, alt= our-product)
    a(href="#").card-fill
      .card-name
        h4=name
      .card-footer
        .type.fleft
          i.fas.fa-folder-open
          span=type_name
        .reaction.fright
          i.fas.fa-heart
          span.number-of-react=number
          span LIKE
        .clearfix
  //.card-wrap

// End: card
