/*********************
    - 2. General -
*********************/

html,
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans';
  font-weight: 400;
}
body {
  font-size: 15px;
}
*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.list-inline {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.list-inline li {
  @include dis(middle);
}
.title-section{
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
img {
  max-width: 100%;
  border: none;
  vertical-align: middle;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

.clear-fix,
.clearfix {
  clear: both;
}
.col-3{
  width: 25%;
  float: left;
}
.col-4{
  width: 33.3333333%;
  float: left;
}
.col-6{
  width:50%;
  float: left;
}
.col-8{
  width: 66.6666667%;
  float: left;
}
.col-9{
  width:75%;
  float: left;
}
.text-center {
  text-align: center;
}

.inner {
  padding: 0 15px;
}
input{
  outline: 0;
}