#aside{
    padding:80px 40px 80px 45px;
    width: 19.5%;
    float: left;
    background-color: #232323;
    color: #fff;
    font-size: 16px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    .close{
        margin-top: 20px;
        font-size: 20px;
        i{
            cursor: pointer;
        }
    }
    .close:hover{
        color: red;
    }
    .logo{
        text-align: center;
        a{
            display: inline-block;
            transition: all 0.3s;
        }
        margin-bottom: 80px;
    }
    .menu{
        li{
            padding: 20px 0;
            border-bottom:1px solid rgba(236, 28, 28, 0.3);
            &:last-child{
                border-bottom: none;
            }
            display: block;
        }
    }
    a:hover{
        color: #e1b24d;
    }
    .icon-header{
        margin-top: 90px;
        li{
            margin: 0 7px;
        }
        a{
            display: block;
            i{
                font-size: 18px;
                color: #666666;
                &:hover{
                    color: #fff;
                }
            }
        }
    }
}
.section-ttvatd {
    .title-card{
        h2{
            position: relative;
            line-height: 30px;
            max-height: calc(30px*2);
            text-align: justify;
            overflow: hidden;
            margin-right: -1em;
            padding-right: 1em;
            margin: 0;
        }
    }
    .text{
        position: relative;
        overflow: hidden;
        text-align: justify;
        overflow: hidden;
        margin-right: -1em;
        padding-right: 1em;
    }
}
.section-ttvatd{
    .title-card h2, .text{
        &:before {
            content: '...';
            position: absolute;
            right: 0;
            bottom: 0;
            background-color: #fcfcfc;
        }
        &:after {
            content: '';
            position: absolute;
            right: 0;
            width: 1em;
            height: 1em;
            margin-top: 0.2em;
            background-color: #fcfcfc;
        }
    }
}
.footer-top{
    background-color: #3a3a3a;
    padding: 35px 0;
    border-top: 7px solid #ff7700;
    .row-footer{
        margin: 0 30px;
    }
    .col-3{
        padding: 0 30px;
    }
    h2{
        font-size: 20px;
        text-transform: uppercase;
        height: 66px;
    }
    .address{
        color: #999999;
        p{
            margin: 0;
            padding: 5px 0;
            font-size: 18px;
        }
    }
    .row-inner{
        height: 400px;
    }
    .title-cylinders{
        color: #fff;
        padding-bottom: 13px;
    }
}
.footer-bottom{
    background-color: #222222;
    padding: 20px 0 60px 0;
    color: #999999;
    font-size: 14px;
    border-top:2px solid #ff7700;
    &__inner{
        padding: 0 50px;
    }
    .ft-bottom-right{
        text-align: right;
    }
    li{
        display: inline-block;
        padding: 0 10px;
        border-right: 1px solid #ddd;
        &:last-child{
            border-right: none;
        }
    }
    .search{
        margin-top: 20px;
        button{
            border:1px solid #e1b24d;
            color: #fff;
            background: #e1b24d;
            padding: 4px 5px;
            display: inline-block;
            cursor: pointer;
        }
    }
    input{
        float: left;
        padding:3px 5px;
        border:1px solid #e1b24d;
    }
    p{
        margin: 0;
        line-height: 25px;
    }
}
.main-content{
    width: 80.5%;
    float: left;
    margin-left: 19.5%;
}
.section-table{
    padding: 120px 0 30px 0;
    .table{
        width: 85%;
        margin: 0 auto;
    }
    .table-inner{
        font-size: 20px;
        width: 100%;
        display: table;
        border-collapse: collapse;
        text-align: center;
    }
    .row-tb{
        display: table-row;
    }
    .th{
        display: table-caption;
    }
    .bold{
        font-size: 20px;
        font-weight: 600;
    }
    .column{
        display: table-cell;
        border: 1px solid #ddd;
        border-width: thin;
        padding: 30px 45px;
    }
    .th{
        padding: 50px 45px;
    }
    .text-left{
        text-align: left;
    }
    .title{
        margin-bottom: 80px;
        padding: 0 10px;
    }
    .width-200{
        max-width: 200px;
    }
}
.section-ttvatd{
    padding:115px 0 140px 0;
    max-width: 85%;
    margin: 0 auto;
    .title{
        margin-bottom: 90px;
    }
    .col{
        padding:0 15px;
    }
    .card-body{
        background-color: #fcfcfc;
        padding: 20px 25px 20px 30px;
        height: auto;
    }
    .title-card{
        padding:10px 0;   
    }

    .more{
        a{
            color: #e1b24d;
            font-family: 'Roboto';
            font-weight: 500;
            text-decoration: underline;
            font-size: 13px;
        }
    }
    .card{
        margin: 15px 0;
    }
    .text{
        max-height: 66px;
        color: #666666;
        line-height: 22px;
        margin:10px 0;
    }
    a{
        display: block;
    }
    .bottom-card{
        line-height: 10px;
        padding-top: 10px;
    }
    .more{
        float: left;
    }
    .date{
        float: right;
        font-weight: 600;
        color:#cccccc;
    }
    img{
        width: 100%;
    }
    .row{
        margin: 0 -15px;
    }
}
.section-view{
    .btn{
        img{
            width: 80%;
        }
    }
    .slide-design-wrapper{
        background-color: #000;
        padding: 30px 0;
        position: relative;
        .item{
            position: relative;
            height: 500px;
            overflow: hidden;
            img{
                max-width: none;
                width: 100%;
                height: auto;
                min-height: 100%;
            }
        }
    }
    font-size: 16px;
    .row{
        margin: 20px 0;
    }
    .project{
        padding-top: 40px;
        padding-right: 40px;
        border-right: 1px dotted #000;
        width: 35%;
    }
    .construction{
        padding: 40px 0 0px 40px;
    }
    h1{
        margin-top: 0;
    }
    .entry__meta-box{
        padding: 5px 0;
        &-title{
            font-style: italic;
        }
    }
    .bold{
        font-weight: 700;
    }
    .page-main{
        width: 90%;
        margin: 0 auto;
    }
    p{
        margin: 10px 0;
    }
    .construction-inner{
        p{
            line-height: 30px;
        }
    }
    .list-share{
        margin-left: 20px;
    }
    .list-share{
        li{
            margin:0 5px;
        }
        a{
            display: inline-block;
            width: 25px;
            height: 25px;
            position: relative;
            background-color: #989898;
            border-radius: 50%;
            &:hover{
                background-color: #000;
            }
        }
        i{
            color: #fff;
            position: absolute;
            top:50%;
            transform: translate(-50%,-50%);
            left: 50%;
            font-size: 14px;
        }
    }
    .line{
        background-color: #ededef;
        height: 4px;
        width: 100%;
    }
    .card:hover {
        .card-fill{
            opacity: .7;
            transition: 0.3s;
        }
    }
    .col-4{
        padding: 15px;
    }
    .row-project{
        margin:0 -15px;
    }
    .list-project-nav{
        li{
            margin: 0 5px;
        }
    }
    .related{
        border-top:2px solid #ededef;
        i{
            margin: 3px;
        }
    }
    h2{
        margin: 0;
    }
    .likes{
        span{
            width: 30px;
            height: 30px;
            background-color: #000;
            border-radius: 50%;
            position: relative;
            display: block;
        }
        i{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            color: #fff;
        }
        li{
            margin: 0 5px;
        }
    }
    .customnav{
        position: absolute;
        right: 40px;
        color: #fff;
        bottom: 50px;
        font-size: 26px;
        z-index: 100;
        span.btn{
            cursor: pointer;
        }
        .control-item{
            padding: 0 10px;
        }
    }
}
.aside-res{
    display: none;
}
.close{
    display: none;
}
@media screen and (max-width: 1720px){
    .section-ttvatd{
        padding: 70px 0 100px 0;
        max-width: 95%;
    }
}
@media screen and (max-width: 1680px){
    #aside{
        padding: 50px 20px;
    }
    .footer-top{
        .col-3{
            width: 33.3333333%;
        }
        img{
            width:80%;
        }
        h2{
            font-size: 18px;
            height: 55px;
        }
        .row-inner{
            height: 380px;
        }
    }
    .section-table {
        .th{
            padding:30px 20px;
        }
        .column{
            padding: 30px 20px;
        }
    }
}
@media screen and (max-width: 1600px){
    .footer-bottom{
        padding: 20px 0;
        .ft-bottom-left, .ft-bottom-right{
            width: 100%;
            text-align: center;
        }
        .search{
            margin: 20px 0;
            display: inline-block;
        }
    }
    .section-ttvatd {
        .img-card{
            max-height: 235px;
            overflow: hidden;
        }
    }
}
@media screen and (max-width: 1400px){
    #aside{
        width: 19.5%;
    }
    .main-content{
        width: 81.5%;
        margin-left: 19.5%;
    }
    .section-table {
        .table{
            width: 90%;
        }
    }
}
@media screen and (max-width: 1366px){
    .section-ttvatd{
        .img-card{
            max-height: 195px;
        }
    }
    .footer-top {
        .col-3{
            width: 25%;
            padding: 0 15px;
        }
        .address {
            p{
                font-size: 15px;
            }
        }
        .row-inner{
            height: 330px;
        }
    }
    .footer-top {
        img{
            max-width: 75%;
        }
    }
}
@media screen and (max-width: 1240px){
    #aside{
        width: 27%;
    }
    .main-content{
        width: 73%;
        margin-left: 27%;
    }
}
@media screen and (max-width: 1200px){
    .footer-top{
        .col-3{
            padding: 0 15px;
        }
        img{
            max-width: 70%;
        }
    }
    .section-table {
        .table-inner{
            font-size: 16px;
        }
        .bold{
            font-size: 20px;
        }
    }
    .part-content{
        .col-4{
            width: 50%;
            max-height: 535px;
        }
        .price-table{
            margin-bottom: 40px;
        }
    }
    .section-ttvatd {
        .col-8{
            width: 100%;
        }
        .col-4{
            width: 50%;
        }
    }
    .footer-top {
        .col-3{
            width: 33.3333333%;
            padding: 0 15px;
        }
        .row-inner{
            height: 350px;
        }
    }
}
@media screen and (max-width: 1024px){
.close{
    display: block;
}
    .icon-header {
        text-align: center;
    }
    .aside-res{
        position: fixed;
        display: block;
        z-index: 100;
        top: 20px;
        left: 25px;
        font-size: 30px;
        color: #000;
        i{
            cursor: pointer;
        }
    }
    #aside{
        padding: 0 20px;
        transition: all 0.3s;
        position: fixed;
        left: -100%;
        top:0;
        opacity: 1;
        z-index: 101;
        width: 300px;
        .logo{
            margin-top: 50px;
            margin-bottom: 50px;
            img{
                width: 70%;
            }
        }
        .menu{
            li{
                padding: 15px 0;
            }
        }
        .icon-header{
            margin-top: 50px;
            margin-bottom: 50px;
        }
    }
    .main-content{
        width: 100%;
        margin-left: 0;
    }
    .banner{
        position: relative;
    }
    .footer-top{
        img{
            max-width: 60%;
        }
        .row-inner{
            height: 290px;
        }
        h2{
            font-size: 18px;
            height: 45px;
        }
        .address{
            p{
                font-size: 14px;
            }
        }
        img{
            width: 70%;
        }
    }
    .part-content{
        .col-4{
            max-height: 495px;
        }
    }
    .section-ttvatd {
        .col-8{
            width: 66.6666667%;
        }
        .col-4{
            width: 33.3333333%;
        }
        padding: 100px 0 50px 0;
    }
}
@media screen and (max-width: 960px){
    .footer-top{
        .row-footer{
            margin: 0 15px;
        }
        .row-inner{
            height: 280px;
        }
    }
    .section-view {
        .project, .construction{
            width: 50%;
        }
        .row-project{
            .col-4{
                padding: 10px;
            }
        }
    }
    .section-table {
        .bold{
            font-size: 18px;
        }
        .table{
            width: 95%;
        }
        .column{
            padding: 20px 15px;
            img{
                width: 20px;
            }
        }
    }
    .price{
        margin: 30px 30px 50px 30px
    }
    .part-content{
        .col-4{
            max-height: 535px;
        }
    }
    .section-ttvatd{
        padding: 100px 0 30px 0;
    }
    .section-ttvatd{
        .card-body{
            padding: 15px;
        }
        .img-card{
            max-height: 170px;
        }
        .title{
            margin-bottom: 30px;
        }
    }
}
@media screen and (max-width:768px){
    .footer-bottom__inner{
        padding:0 20px;
    }
    .part-content {
        .col-4{
            width: 50%;
            max-height: 565px;
        }
    }
    .price {
        .name-pack{
            height: 142px;
        }
    }
    .section-view {
        .row-project {
            .col-4{
                width: 50%;
            }
        }
    }
    .section-ttvatd{
        .img-card{
            max-height: 220px;
        }
        .col-8{
            width: 100%;
        }
        .col-4{
            width: 50%;
        }
    }
    .footer-top{
        img{
            max-width: 70%;
        }
    }
}
@media screen and (max-width:690px){
    .part-content {
        .col-4{
            max-height: 605px;
        }
    }
}
@media screen and (max-width: 640px){
    .footer-top {
        .col-3{
            width: 50%;
        }
    }
    .footer-bottom{
        li{
            padding: 5px 0;
            border-right: none;
            display: block;
        }
    }
    #aside{
        width: 60%;
    }
    .section-view {
        .project, .construction{
            width: 100%;
        }
        .project{
            border-right: none;
            border-bottom: 1px dotted #000;
        }
        .construction{
            padding-left: 0;
        }
        .count{
            font-size: 24px;
        }
        .btn{
            img{
                width: 60%;
            }
        }
        .owl-dots{
            display: none;
        }
        .slide-design-wrapper{
            padding: 20px 0 45px 0;
        }
        .customnav{
            bottom: 5px;
            right: 50%;
            transform: translateX(50%);
        }
    }
    .section-table {
        .row-tb:nth-of-type(odd){
            background-color: #eee;
        }
        .text-left{
            height: 75px;
        }
        .column{
            padding: 10px 15px;
            position: relative;
            padding-left: 55%;
            display: block;
            border:none;
            height: 60px;
            text-align: left;
            overflow: hidden;
            border-bottom: 1px solid #ddd;
            img{
                display: block;
                margin: 0 auto;
            }
        }
        .bold .column {
            text-align: center;
            &:before {
                text-align: left;
            }
        }
        .text-left{
            height: 75px;
        }
        .column:before {
            content: attr(data-th);
            width: 47%;
            position: absolute;
            left: 0;
            border-right: 1px solid #ddd;
            height: 100%;
            padding: 10px;
            top: 0;
        }
        .row-tb{
            margin: 15px 0;
            border: 1px solid #ddd;
        }
        .row-head{
            display: none;
        }
    }
    .part-content{
        .col-4{
            width: 100%;
            margin: 10px 0;
        }

    }
    .title-section{
        font-size: 30px;
    }
    .section-table{
        padding: 100px 0 10px 0;
        .title{
            margin-bottom: 30px;
        }
    }
    .section-ttvatd{
        .row{
            margin: 0 -10px;
        }
        .col{
            padding: 0 10px;
        }
        .title{
            margin-bottom: 30px;
        }
        .col-4{
            width: 100%;
        }
        .img-card{
            max-height: 350px;
        }
        
    }
}
@media screen and (max-width: 500px){
    .section-table{
        .column{
            height: 70px;
            padding-left: 57%;
        }
        .text-left{
            height: 90px;
        }
        .bold{
            font-size: 15px;
        }
    }
    .table-inner{
        font-size: 14px;
    }
    .title-section{
        font-size: 23px;
    }
    #aside {
        .menu{
            li{
                padding: 10px 0;
            }
            a{
                font-size: 14px;
            }
        }
        .logo{
            img{
                width: 70%;
            }
            margin-bottom: 35px;
        }
        .icon-header{
            margin-top: 25px;
        }
    }
    .footer-top {
        padding: 10px;
        .col-3{
            width: 100%;
        }
        img{
            width: 50%;
        }
        .cylinders{
            text-align: center;
        }
        h2{
            height: 25px;
        }
        .row-inner{
            height: 260px;
            margin: 10px 0;
        }
        .col-3{
            padding: 0 0;
        }
    }
    .section-view {
        .row-project{
            .col-4{
                width: 100%;
            }
        }
        .share,.project-nav{
            float: left;
            width: 100%;
            margin-top: 20px;
        }
    }
    .price{
        margin: 40px 20px 50px 20px;
    }
    .section-ttvatd{
        .text{
            font-size: 14px;
        }
        .bottom-card{
            font-size: 14px;
        }
        .row{
            margin:0 -7px;
        }
        .col{
            padding:0 7px;
        }
        .col-8,.col-4{
            width: 100%;
        }
    }
}
@media screen and (max-width: 400px) {
    #aside {
        width: 70%;
    }
}