::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


#wrapper {
	position: relative;
}
.banner {
	.owl-nav {
		display: none;
	}
	.owl-dots {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 10px;
	}
	.owl-theme .owl-dots .owl-dot span {
		width: 20px;
		height: 20px;
		background: #888787;
	}
	.owl-theme .owl-dots .owl-dot.active span, 
	.owl-theme .owl-dots .owl-dot:hover span {
		background: #fff;
	}
	.owl-theme .owl-dots button {
		outline: none;
	}
	.owl-carousel {
		position: relative;
	}
}

.activing {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(0,0,0,0.3);
	z-index: 10;
}
.trending-model {
	.card:hover {
		.card-fill{
			opacity: .7;
			transition: 0.3s;
		}
	}
	
}

.pagination ul {
	padding: 0;
}
.pagination li {
	display: inline-block;
	list-style: none;
	margin: 2px;
} 
.pagination a {
	border-radius: 3px;
	transition: 0.25s;
	display: block;
	padding: 8px 14px;
	color: white;
	background-color: #4e79ca;
}
.pagination a:hover {
	background-color: #444;
}

.reference-design {
	padding: 20px 0;
	.card:hover {
		.card-fill{
			opacity: .7;
			transition: 0.3s;
		}
	}
	.owl-theme .owl-nav {
		display: none;
	}
	.owl-theme .owl-dots {
		margin-top: 15px;
	}
	.part-title {
		margin-bottom: 20px;
		border: 0;
	}
	.owl-theme .owl-dots .owl-dot {
		outline: 0;
	}
}
.price {
	margin: 50px 50px 100px 50px;
	.row {
		margin: 0 -15px;
		overflow: hidden;
		padding-top: 50px;
	}
	.name-pack h4 {
		font-weight: 400;
		font-size: 24px;
		margin: 0;
		padding: 33px 0;
		color: #8c889a;
	}
	.name-pack {
		padding: 0 10px;
		transition: 0.3s;
	}
	.main-price {
		font-weight: 700;
		padding: 20px 10px;
		border-top: 1px solid #ebebeb;
		border-bottom: 1px solid #ebebeb;
		background-color: #fafafa;
		transition: 0.3s;
	}
	.main-price .number {
		font-size: 35px;
	}
	.main-price .donvi {
		font-size: 17px;
		color: #e3e1e6;
	}
	.part, .time-done {
		font-size: 18px;
		color: #807f8b;
		line-height: 40px;
	}
	.view-detail a {
		font-size: 18px;
		color: white;
		display: inline-block;
		line-height: 40px;
		padding: 0 39px;
		background-color: #4e79ca;
	}
	.view-detail {
		padding-top: 40px;
	}
	.table-content {
		padding: 50px 10px;
	}
	.price-table {
		border: 1px solid #eaeaea;
		transition: all 0.3s;
	}
	.price-table:hover .main-price{
		padding: 30px 10px;
		color: #DEDBDB;
		background-color: #4E79CA;
	}
	.price-table:hover {
		border-top: 2px solid #4E79CA;
		border-bottom: 2px solid #4E79CA;
	}

	
}
.part-title {
	border-bottom: 2px solid #e5e5e5;
	text-align: left;
	h3 {
		font-size: 24px;
		margin: 5px;
	}
}
.processing {
	margin: 20px 50px 50px 50px;
	.row {
		margin: 0 -15px;
		overflow: hidden;
		padding-top: 50px;
	}
	.number {
		width: 25px;
		line-height: 25px;
		text-align: center;
		color: white;
		background-color: #4e79ca;
		border-radius: 50%;
		margin-right: 7px;
	}
	.process-content p {
		font-size: 13px;
		line-height: 23px;
		color: #8b8b8b;
		margin: 10px 0;
	}
	.process-tag {
		font-size: 18px;
		line-height: 25px;

	}
}
.col20 {
	width: 20%;
	float: left;
}
.thietke {
	padding: 120px 15px 145px 15px;
	.inner {
		padding: 15px;
	}
	.card:hover {
		.card-fill{
			opacity: .7;
			transition: 0.3s;
		}
	} 
	.card {
		.card-name h4 {
			font-size: 20px;
		}
	}
}
.page-title h1 {
	font-size: 36px;
	color: #333333;
	font-weight: 400;
	margin-top: 0;
}
#gioithieu {
	max-width: 85%;
	padding: 120px 0;
	margin: 0 auto;
	.page-content {
		padding-top: 160px;
	}
	h3.welcome {
		font-size: 20px;
		color:#e1b24d;
		margin: 15px 0 0 0;
	}
	h3.slogan {
		font-size: 36px;
		color:#333333;
		margin: 26px 0 36px 0;
	}
	p.main-detail {
		font-size: 15px;
		line-height: 25px;
		letter-spacing: 1.3px;
		text-align: justify;
		color: #656565;
		margin-top: 0;
		margin-bottom: 60px;
	}
	.arrow {
		margin-right: 20px;
		i {
			color: #e1b24d;
			font-size: 15px;
			margin-bottom: 3px;
			vertical-align: middle;
		}
	}
	.work-line {
		line-height: 36px;
	}
	.work-name {
		font-weight: 700;
		font-size: 16px;
		color: #333;
	}
	.introduce-img .inner {
		padding-right: 40px;
		padding-left: 0;
	}
	.introduce-img img {
		width: 100%;
	}
	.greeting .inner {
		padding-left: 40px;
		padding-right: 0;
	}
	.detail {
		padding: 85px 71px 60px 71px;
	}
	.detail p {
		text-align: justify;
		text-indent: 39px;
		font-size: 15px;
	}
	h5.sub-title {
		font-size: 24px;
	}
}
.reference-design .part-title {
	margin-left: 50px;
}
#lienhe {
	max-width: 85%;
	padding: 120px 0;
	margin: 0 auto;
	h3.form-title {
		font-size: 32px;
		font-weight: 600;
		margin: 25px 0;
	}
	p.form-intro {
		font-size: 14px;
		margin: 7px 0 55px 0;
	}
	input {
		width: 100%;
	}
	.col-6 input {
		height: 38px;
		border: 1px solid #e5e5e5;
		border-radius: 19px;
		background-color: #fafafa;
		padding-left: 20px;
		font-size: 15px;
		line-height: 38px;
		outline: none;
	}
	.col-6 input::placeholder {
		color: #999999;
	}
	.name-input {
		padding-right: 15px;
		label{
			left: 0;
			bottom: -20px;
		}
	}
	.phone-number-input {
		padding-left: 15px;
		label{
			left: 15px;
			bottom: -20px;
		}
	}
	textarea {
		padding: 15px;
		border-radius: 19px;
		width: 100%;
		font-size: 15px;
		outline: none;
		resize: none;
	}
	.submit-btn input {
		height: 50px;
		background-color: #e1b24d;
		border: none;
		border-radius: 25px;
		color: white;
		font-size: 16px;
		font-weight: 600;
		cursor: pointer;
		transition: 0.2s;
		padding: 0;
	}
	.submit-btn input:hover {
		background-color: #c79c3e;
	}
	.message-input {
		margin: 30px 0 44px 0;
		position: relative;
		label{
			left: 0;
			bottom: -20px;
		}
	}
	.filling-form {
		padding: 50px 70px 25px 70px;
		box-shadow: 0px 0px 50px 0px #f0efef;
	}
	label{
		font-size: 12px;
		color:red;
		position: absolute;
		bottom: -20px;
	}
	.name-input {
		padding-right: 15px;
		position: relative;
	}
	.phone-number-input {
		padding-left: 15px;
		position: relative;
	}
	.our-address {
		margin-left: 60px;
		margin-top: 50px;
	}
	.info-contact span {
		font-size: 24px;
		letter-spacing: 1px;
	}
	.info-contact {
		padding-top: 140px;
	}
	.info-contact .info {
		line-height: 75px;
	}
	.info img {
		padding-right: 43px;
		margin-bottom: 8px;
	}
	.page-title {
		margin-bottom: 100px;
	}
}
#view-tin-tuc {
	max-width: 85%;
	margin: 0 auto;
	padding: 100px 0;
	.row {
		margin: 0 -15px;
		overflow: hidden;
	}
	.news-part {
		padding: 15px;
	}
	.main-news-content img {
		width: 100%;
	}
	.relate-news-title {
		border-bottom: 3px solid #57bbe6;
	}
	li {
		list-style: none;
		padding: 10px;
		border-bottom: 1px solid #e6e6e6;
	}
	ul {
		margin: 0;
		padding: 0;
	}
	li a {
		font-size: 13px;
		line-height: 20px;
		transition: 0.3s;
	}
	li a:hover {
		color: #bebebe;
	}
	li:after {
		clear: both;
	}
	li i {
		font-size: 12px;
	    vertical-align: middle;
	    margin-top: 7px;
	    margin-right: 7px;
	}
}



@media screen and (max-width: 1680px) {
	#gioithieu {
		p.main-detail {
			margin-bottom: 20px;
		}
		h3.slogan {
			margin: 10px 0 20px 0;
		}
		.introduce-img .inner {
			padding-right: 20px;
		}
		.greeting .inner {
			padding-left: 20px;
		}
		.detail {
			padding: 85px 71px 30px 71px;
		}
		h5.sub-title {
			margin: 20px 0;
		}
		.skill-block {
		    padding-top: 20px;
		}
		.page-content {
		    padding-top: 80px;
		}
	}
	#lienhe .info-contact {
	    padding-top: 80px;
	}
	#lienhe {
		h3.form-title {
			margin: 15px 0;
		}
	}
	.card .card-footer {
	    padding: 0 10px;
	}
	.card .card-name h4 {
		padding: 10px;
	}

}
@media screen and (max-width: 1600px) {
	#lienhe .our-address {
	    margin-left: 50px;
	}	
}
@media screen and (max-width: 1440px) {
	#lienhe {
		max-width: 95%;
		.info-contact .info {
	    	line-height: 50px;
		}
		.page-title {
			margin-bottom: 60px;
		}
	}
	#gioithieu {
		max-width: 95%;
		h3.slogan {
			font-size: 25px;
		}
		.detail {
		    padding: 45px 71px 30px 71px;
		}
		.page-content {
			padding-top: 40px;
		}
	}
	#view-tin-tuc{
		max-width: 95%;
	}
	.card-footer {
		span {
			font-size: 13px;
		}
		i {
			font-size: 12px;
		}
	}
}
@media screen and (max-width: 1366px) {
	.banner .owl-theme .owl-dots .owl-dot span {
		width: 10px;
		height: 10px;
	}
	#gioithieu{
		p.main-detail {
		    margin-bottom: 10px;
		}
		h3.slogan {
		    margin: 5px 0 10px 0;
		}
		p.main-detail {
			line-height: 20px;
		}
		h5.sub-title {
		    margin: 0;
		}
		h3.welcome {
			margin: 0;
		}
	}
	#view-tin-tuc, #lienhe, #gioithieu {
		padding: 80px 0;
	}
	.thietke {
	    padding: 80px 15px 80px 15px;
	}
	.processing {
		.process-tag{
			font-size: 20px;
		}
		.process-content{
			p{
				font-size: 14px;
			}
		}
	}
	.banner {
		.owl-item img {
			height: 620px
		}
	}
}
@media screen and (max-width: 1280px) {
	#lienhe {
		.filling-form {
			padding: 30px 50px 25px 50px;
    	}
    	.our-address {
    		margin-left: 0;
    		width: 100% !important;    		box-sizing: content-box;
    	}
    	.form {
    		padding-right: 15px;
    	}
    	.map {
    		padding-left: 15px;
    	}
	}
	.banner {
		.owl-item img {
			height: 580px
		}
	}
}
@media screen and (max-width: 1190px) {
	#lienhe {
		.filling-form {
    		padding: 30px 20px 25px 20px;
    	}
	}
	.banner {
		.owl-item img {
			height: 495px
		}
	}
}
@media screen and (max-width: 1024px) {
	.main-content {
		width: 100%;
		float: none;
		margin-left: 0;
	}
	.banner {
		.owl-item img {
			height: 610px
		}
	}
}
@media screen and (max-width: 960px) {
	.processing .col-3 {
		width: 50%;
		margin-bottom: 20px;
	}
	.filling-form .col-6 {
		width: 100%;
	}
	#lienhe .name-input, #lienhe .phone-number-input {
		padding: 15px 0;
	}
	#lienhe p.form-intro {
		margin-bottom: 20px;
	}
	#lienhe{
		.name-input {
			label{
				bottom: -5px;
			}
		}
		.phone-number-input{
			label{
				bottom: -5px;
				left: 0;
			}
		}
		.message-input{
			label{
				bottom: -14px;
			}
		}
	}
	.news-title h1, .relate-news-title h3 {
		margin-top: 0;
	}
	.trending-model .card-name h4 {
		font-size: 20px;
	}
	.banner {
		.owl-item img {
			height: 570px
		}
	}
}
@media screen and (max-width: 854px) {
	#gioithieu {
		.col-6 {
			width: 100%;
			float: none;
		}
		.introduce-img .inner, .greeting .inner {
			padding: 10px 0;
		}
		.page-content {
			padding-top: 0;
		}
		.detail {
			padding: 10px 0;
		}
	}
	.banner {
		.owl-item img {
			height: 505px
		}
	}
}
@media screen and (max-width: 800px) {
	#thietkekientruc .col-3 {
		width: 33.333333%;
	}
	.banner {
		.owl-item img {
			height: 475px
		}
	}
}
@media screen and (max-width: 720px) {
	#view-tin-tuc {
		.col-8, .col-4{
			width: 100%;
			float: none;
		}
	}
	.reference-design {
		.card {
			.card-name h4 {
				font-size: 18px;

			}
			.card-footer span {
				font-size: 11px;
			}
			.reaction span:not(.number-of-react) {
				display: none;
			}
		}
	}
	.banner {
		.owl-item img {
			height: 425px
		}
	}
}
@media screen and (max-width: 640px) {
	#lienhe {
		.col-6 {
			width: 100%;
			float: none;
		}
		.form, .map {
			padding: 0;
		}
		.info-contact {
			padding-top: 40px;
		}
		.filling-form .col-6 {
			width: 50%;
			float: left;
		}
		.info-contact span {
			font-size: 20px;
		}
		.name-input {
			padding-right: 15px;
			label{
				bottom: -5px;
			}
		}
		.phone-number-input {
			padding-left: 15px;
			label{
				left: 15px;
				bottom: -5px;
			}
		}
	}
	.trending-model {
		.col-3 {
			width: 33.333333%;
		}
	}
	.processing .col-3 {
		width: 100%;
		float: none;
		padding: 5px;
	}
	.thietke {
		padding: 80px 0;
	}
	.banner {
		.owl-item img {
			height: 380px
		}
	}
}
@media screen and (max-width: 600px) {
	#lienhe, #gioithieu, #view-tin-tuc {
		max-width: 100%;
		padding: 40px 15px;

	}
	#view-tin-tuc .news-part {
		padding: 15px 0;
	}
	#lienhe .info img {
		padding-right: 15px;
	}
	#view-tin-tuc {
		.row {
			margin: 0;
		}
	}
}
@media screen and (max-width: 550px) {
	.thietke .card .card-name h4 {
    	font-size: 17px; 
	}
	.thietke{
		.card-footer span {
			font-size: 11px;
		}
	}
	
	.reference-design {
		.col-3 {
			width: 50%;
		}
	}
	.reaction span:not(.number-of-react) {
		display: none;
	}
	.banner {
		.owl-item img {
			height: 325px
		}
	}
}
@media screen and (max-width: 480px) {
	.banner {
		.owl-item img {
			height: 285px
		}
	}
	.trending-model {
		.card-name h4 {
	    	font-size: 15px;
	    }
	    .card-footer span {
		    font-size: 11px;
		}
	}
	 #view-tin-tuc, #lienhe, #gioithieu {
	 	padding: 40px 15px;
	}
	.thietke {
		padding: 40px 0;

	}
	#thietkekientruc {
		.col-3 {
			width: 50%;
		}
	}
	#gioithieu {
		h3.slogan {
			font-size: 25px;
		}
	}
	#lienhe {
		.info img {
			width: 30px;
			margin-bottom: 2px;
		}
		.info-contact span {
			font-size: 17px;
		}
		.filling-form .col-6 {
			width: 100%;
			float: none;
		}
		.message-input {
			margin: 20px 0;
		}
		.info-contact .info {
			line-height: 35px;
		}
		.name-input {
			padding-right: 0;
			label{
				bottom: -5px;
			}
		}
		.phone-number-input{
			padding-left: 0;
			label{
				bottom: -5px;
				left: 0;
			}
		}
	}
	.processing {
		margin: 20px 0;
		padding: 0 15px;
		.row {
			margin: 0;
		}
		.inner {
			padding: 0;
		}
		h3 {
			font-size: 20px;
		}
		.process-tag {
			font-size: 20px;
		}
	}
	.reference-design h3 {
		font-size: 20px;
	}
	
	.thietke {
		.card {
			.card-name h4 {
				font-size: 16px;
			}
		}
	}
}
@media screen and (max-width: 400px) {
	.trending-model .col-3 {
		width: 50%;
	}
	.trending-model .reaction span:not(.number-of-react) {
		display: inline;
	}
	.banner .owl-dots {
		display: none;
	}
	.page-title h1 {
		font-size: 30px;
	}
	.processing {
		.row {
			padding-top: 20px;
		}

	}
	.banner {
		.owl-item img {
			height: 237px
		}
	}
}
@media screen and (max-width: 320px) {
	.reaction span:not(.number-of-react) {
		display: inline;
	}
	.trending-model .reaction span:not(.number-of-react) {
		display: none;
	}
	#thietkekientruc {
		.col-3 {
			width: 100%;
		}
	}
	.thietke {
		.card {
			.card-name h4 {
				font-size: 20px;
			}
			.card-footer span {
				font-size: 15px;
			}
		}
	}
	#lienhe {
		textarea {
			padding: 10px;
		}
		h3.form-title {
			font-size: 25px;
		}
		.submit-btn input {
			height: 45px;
		}
	}
	.banner {
		.owl-item img {
			height: 190px
		}
	}
}