extends _layouts/layout
block content
    .main-content
        section#content
            .aside-res
                .toggle-aside
                    i.fas.fa-bars
            .section-thicong.section-table
                .title
                    h1.title-section Đơn Giá Thi Công Xây Dựng
                .table
                    .table-inner
                        .row-tb.row-head
                            .column.th.text-left.bold Hạng mục xây dựng VND/m 
                                sup 2
                            .column.th.width-200.bold Kiến trúc
                            .column.th.width-200.bold Nội thất
                            .column.th.width-200.bold Kiến trúc & nội thất
                            .column.th.width-200.bold Thiết kế & giám sát thi công
                        .row-tb
                            .column.text-left(data-th="Hạng mục xây dựng VND/m2") Thi Công xây dựng
                            .column(data-th="Kiến trúc")
                                img(src="images/h_checked-icon.png", alt="check")
                            .column(data-th="Nội thất")
                            .column(data-th="Kiến trúc & Nội thất")
                                img(src="images/h_checked-icon.png", alt="check")
                            .column(data-th="Thiết kế & giám sát thi công")
                                img(src="images/h_checked-icon.png", alt="check")
                        .row-tb
                            .column.text-left(data-th="Hạng mục xây dựng VND/m2") Vật liệu xây dựng
                            .column(data-th="Kiến trúc")
                            .column(data-th="Nội thất")
                                img(src="images/h_checked-icon.png", alt="check")
                            .column(data-th="Kiến trúc & Nội thất")
                                img(src="images/h_checked-icon.png", alt="check")
                            .column(data-th="Thiết kế & giám sát thi công")
                        .row-tb
                            .column.text-left(data-th="Hạng mục xây dựng VND/m2") Vật liệu xây dựng
                            .column(data-th="Kiến trúc")
                                img(src="images/h_checked-icon.png", alt="check")
                            .column(data-th="Nội thất")
                            .column(data-th="Kiến trúc & Nội thất")
                                img(src="images/h_checked-icon.png", alt="check")
                            .column(data-th="Thiết kế & giám sát thi công")
                        .row-tb
                            .column.text-left(data-th="Hạng mục xây dựng VND/m2") Công nhân
                            .column(data-th="Kiến trúc")
                                img(src="images/h_checked-icon.png", alt="check")
                            .column(data-th="Nội thất")
                                img(src="images/h_checked-icon.png", alt="check")
                            .column(data-th="Kiến trúc & Nội thất")
                            .column(data-th="Thiết kế & giám sát thi công")
                        .row-tb
                            .column.text-left(data-th="Hạng mục xây dựng VND/m2") Lắp đặt nội thất
                            .column(data-th="Kiến trúc")
                                img(src="images/h_checked-icon.png", alt="check")
                            .column(data-th="Nội thất")
                            .column(data-th="Kiến trúc & Nội thất")
                            .column(data-th="Thiết kế & giám sát thi công")
                                img(src="images/h_checked-icon.png", alt="check")
                        .row-tb
                            .column.text-left(data-th="Hạng mục xây dựng VND/m2") Lắp đặt điện nước
                            .column(data-th="Kiến trúc")
                                img(src="images/h_checked-icon.png", alt="check")
                            .column(data-th="Nội thất")
                                img(src="images/h_checked-icon.png", alt="check")
                            .column(data-th="Kiến trúc & Nội thất")
                                img(src="images/h_checked-icon.png", alt="check")
                            .column(data-th="Thiết kế & giám sát thi công")
                        .row-tb.bold
                            .column.text-left(data-th="Hạng mục xây dựng VND/m2") Đơn giá thiết kế ( đồng/ m
                                sup 2
                                span )
                            .column(data-th="Kiến trúc") 200.000
                            .column(data-th="Nội thất") 250.000
                            .column(data-th="Kiến trúc & Nội thất") 300.000
                            .column(data-th="Thiết kế & giám sát thi công") 400.000
    .clearfix
