extends _layouts/layout
block content
    .main-content
        section#content
            .aside-res
                .toggle-aside
                    i.fas.fa-bars
            .section-thietke.section-table
                .title
                    h1.title-section Đơn Giá Thiết Kế
                .table
                    .table-inner
                        .row-tb.row-head
                            .column.th.text-left.bold Hạng mục xây dựng VND/m 
                                sup 2
                            .column.th.width-200.bold Kiến trúc
                            .column.th.width-200.bold Nội thất
                            .column.th.width-200.bold Kiến trúc & nội thất
                            .column.th.width-200.bold Thiết kế & giám sát thi công
                        .row-tb
                            .column.text-left(data-th="Hạng mục xây dựng VND/m2") Mặt bằng kiến trúc cơ bản
                            .column(data-th="Kiến trúc")
                                img(src="images/h_checked-icon.png", alt="check")
                            .column(data-th="Nội thất")
                            .column(data-th="Kiến trúc & Nội thất")
                                img(src="images/h_checked-icon.png", alt="check")
                            .column(data-th="Thiết kế & giám sát thi công")
                                img(src="images/h_checked-icon.png", alt="check")
                        .row-tb
                            .column.text-left(data-th="Hạng mục xây dựng VND/m2") Mặt bằng kiến trúc chi tiết
                            .column(data-th="Kiến trúc")
                            .column(data-th="Nội thất")
                                img(src="images/h_checked-icon.png", alt="check")
                            .column(data-th="Kiến trúc & Nội thất")
                                img(src="images/h_checked-icon.png", alt="check")
                            .column(data-th="Thiết kế & giám sát thi công")
                        .row-tb
                            .column.text-left(data-th="Hạng mục xây dựng VND/m2") Phối cảnh ngoại thất
                            .column(data-th="Kiến trúc")
                                img(src="images/h_checked-icon.png", alt="check")
                            .column(data-th="Nội thất")
                            .column(data-th="Kiến trúc & Nội thất")
                                img(src="images/h_checked-icon.png", alt="check")
                            .column(data-th="Thiết kế & giám sát thi công")
                        .row-tb
                            .column.text-left(data-th="Hạng mục xây dựng VND/m2") Thiết kế nội thất không gian 3D
                            .column(data-th="Kiến trúc")
                                img(src="images/h_checked-icon.png", alt="check")
                            .column(data-th="Nội thất")
                                img(src="images/h_checked-icon.png", alt="check")
                            .column(data-th="Kiến trúc & Nội thất")
                            .column(data-th="Thiết kế & giám sát thi công")
                        .row-tb
                            .column.text-left(data-th="Hạng mục xây dựng VND/m2") Sơ đồ bố trí thiết bị điện & nước
                            .column(data-th="Kiến trúc")
                                img(src="images/h_checked-icon.png", alt="check")
                            .column(data-th="Nội thất")
                            .column(data-th="Kiến trúc & Nội thất")
                            .column(data-th="Thiết kế & giám sát thi công")
                                img(src="images/h_checked-icon.png", alt="check")
                        .row-tb
                            .column.text-left(data-th="Hạng mục xây dựng VND/m2") Khái toán kinh phí xây dựng
                            .column(data-th="Kiến trúc")
                                img(src="images/h_checked-icon.png", alt="check")
                            .column(data-th="Nội thất")
                                img(src="images/h_checked-icon.png", alt="check")
                            .column(data-th="Kiến trúc & Nội thất")
                                img(src="images/h_checked-icon.png", alt="check")
                            .column(data-th="Thiết kế & giám sát thi công")
                        .row-tb
                            .column.text-left(data-th="Hạng mục xây dựng VND/m2") Giám sát thi công
                            .column(data-th="Kiến trúc")
                            .column(data-th="Nội thất")
                                img(src="images/h_checked-icon.png", alt="check")
                            .column(data-th="Kiến trúc & Nội thất")
                            .column(data-th="Thiết kế & giám sát thi công")
                        .row-tb
                            .column.text-left(data-th="Hạng mục xây dựng VND/m2") Giám sát tác giả thiết kế
                            .column(data-th="Kiến trúc")
                                img(src="images/h_checked-icon.png", alt="check")
                            .column(data-th="Nội thất")
                            .column(data-th="Kiến trúc & Nội thất")
                            .column(data-th="Thiết kế & giám sát thi công")
                                img(src="images/h_checked-icon.png", alt="check")
                        .row-tb
                            .column.text-left(data-th="Hạng mục xây dựng VND/m2") Hồ sơ xin cấp giấy phép xây dựng
                            .column(data-th="Kiến trúc")
                            .column(data-th="Nội thất")
                                img(src="images/h_checked-icon.png", alt="check")
                            .column(data-th="Kiến trúc & Nội thất")
                                img(src="images/h_checked-icon.png", alt="check")
                            .column(data-th="Thiết kế & giám sát thi công")
                        .row-tb.bold
                            .column.text-left(data-th="Hạng mục xây dựng VND/m2") Đơn giá thiết kế ( đồng/ m
                                sup 2
                                span )
                            .column(data-th="Kiến trúc") 200.000
                            .column(data-th="Nội thất") 250.000
                            .column(data-th="Kiến trúc & Nội thất") 300.000
                            .column(data-th="Thiết kế & giám sát thi công") 400.000
            .price.text-center
                .part-title 
                    h3 Bảng giá thiết kế
                .part-content
                    .row
                        .col-4
                            .inner
                                .price-table
                                    .table-header
                                        .name-pack
                                            h4 Gói thông dụng (đ/m2)
                                        .main-price
                                            span.number 120,000 đ
                                            span.donvi /m2
                                    .table-content
                                        .part
                                            span Hồ sơ gồm: 
                                            span.partials Kiến trúc, kết cấu, điện nước
                                        .time-done
                                            span Thời gian hoàn thành: 
                                            span.max-time 3 tuần
                                        .view-detail
                                            a(href="#") Xem chi tiết
                        .col-4
                            .inner
                                .price-table
                                    .table-header
                                        .name-pack
                                            h4 Gói thông dụng (đ/hs)
                                        .main-price
                                            span.number 120,000 đ
                                            span.donvi /hs
                                    .table-content
                                        .part
                                            span Hồ sơ gồm: 
                                            span.partials Kiến trúc, kết cấu, điện nước
                                        .time-done
                                            span Thời gian hoàn thành: 
                                            span.max-time 3 tuần
                                        .view-detail
                                            a(href="#") Xem chi tiết
                        .col-4
                            .inner
                                .price-table
                                    .table-header
                                        .name-pack
                                            h4 Gói thông dụng (đ/m2)
                                        .main-price
                                            span.number 120,000 đ
                                            span.donvi /m2
                                    .table-content
                                        .part
                                            span Hồ sơ gồm: 
                                            span.partials Kiến trúc, kết cấu, điện nước
                                        .time-done
                                            span Thời gian hoàn thành: 
                                            span.max-time 3 tuần
                                        .view-detail
                                            a(href="#") Xem chi tiết
                        .clearfix

    .clearfix
