extends _layouts/layout
block content
  .main-content
    section#content
      #content-wrap
        .aside-res
            .toggle-aside
                i.fas.fa-bars
        #gioithieu
          .page-title.text-center
            h1 Giới thiệu
          .page-content
            .introduce
              .row
                .col-6.introduce-img
                  .inner
                    img(src="images/gioithieu_img.png", alt="introduce-img")
                .col-6.greeting
                  .inner
                    h3.welcome Chào mừng bạn đến với DILA
                    h3.slogan Công Tyiết Kế Hàng Đầu
                    p.main-detail DILA được biết đến như một trong những công ty thiết kế và thi công nội thất hàng đầu tại Việt Nam, hoạt động trên lĩnh vực chính: thiết kế kiến trúc, thiết kế nội thất, thi công xây dựng trang trí nội thất. Cung cấp 1 dịch vụ toàn diện về thiết kế và thi công xây dựng, trang trí nội thất văn phòng- showroom và nhà ở.
                    .main-work
                      .work-line
                        .arrow.fleft
                          i.fas.fa-arrow-circle-right
                        .work-name Thiết kế kiến trúc công trình xây dựng và công nghiệp.
                        .clearfix
                      .work-line
                        .arrow.fleft
                          i.fas.fa-arrow-circle-right
                        .work-name Thi công xây dựng công trình - Trang trí nội & ngoại thất
                        .clearfix
                      .work-line
                        .arrow.fleft
                          i.fas.fa-arrow-circle-right
                        .work-name Cung cấp vật tư xây dựng
                        .clearfix
                .clearfix   
            .detail
              h5.general-intro.sub-title Giới thiệu chung
              p DILA được biết đến như một trong những công ty thiết kế và thi công nội thất hàng đầu tại Việt Nam, hoạt động trên lĩnh vực chính: thiết kế kiến trúc, thiết kế nội thất, thi công xây dựng trang trí nội thất. Cung cấp 1 dịch vụ toàn diện về thiết kế và thi công xây dựng, trang trí nội thất văn phòng- showroom và nhà ở.
              p Chúng tôi có kinh nghiệm triển khai thiết kế và thi công thành công cho nhiều công trình, dự án và được nhiều khách hàng tín nhiệm
              p DILA được biết đến như một trong những công ty thiết kế và thi công nội thất hàng đầu tại Việt Nam, hoạt động trên lĩnh vực chính: thiết kế kiến trúc, thiết kế nội thất, thi công xây dựng trang trí nội thất.
