extends _layouts/layout
block content
  .main-content
    section#content
      #content-wrap
        .aside-res
            .toggle-aside
                i.fas.fa-bars
        .banner
          .owl-carousel.owl-theme
            .item
              img(src="images/s_banner.png", alt="slider")
            .item
              img(src="images/s_banner.png", alt="slider")
            .item
              img(src="images/s_banner.png", alt="slider")
            .item
              img(src="images/s_banner.png", alt="slider")
            .item
              img(src="images/s_banner.png", alt="slider")
        .trending-model
          .row
            .col-3
              +card("images/s_item-building.png","Nhà phố 2 mặt tiền","nhà phố", 2)
            .col-3
              +card("images/s_item-building.png","Nhà phố 2 mặt tiền","nhà phố", 2)
            .col-3
              +card("images/s_item-building.png","Nhà phố 2 mặt tiền","nhà phố", 2)
            .col-3
              +card("images/s_item-building.png","Nhà phố 2 mặt tiền","nhà phố", 2)
            .col-3
              +card("images/s_item-building.png","Nhà phố 2 mặt tiền","nhà phố", 2)
            .col-3
              +card("images/s_item-building.png","Nhà phố 2 mặt tiền","nhà phố", 2)
            .col-3
              +card("images/s_item-building.png","Nhà phố 2 mặt tiền","nhà phố", 2)
            .col-3
              +card("images/s_item-building.png","Nhà phố 2 mặt tiền","nhà phố", 2)
            .col-3
              +card("images/s_item-building.png","Nhà phố 2 mặt tiền","nhà phố", 2)
            .col-3
              +card("images/s_item-building.png","Nhà phố 2 mặt tiền","nhà phố", 2)
            .col-3
              +card("images/s_item-building.png","Nhà phố 2 mặt tiền","nhà phố", 2)
            .col-3
              +card("images/s_item-building.png","Nhà phố 2 mặt tiền","nhà phố", 2)
            .clearfix
          .pagination.text-center
            ul
              li
                a(href="#") 
                  i.fas.fa-angle-double-left
              li
                a(href="#") 1
              li
                a(href="#") 2
              li  
                a(href="#") 3
              li
                a(href="#") 4
              li
                a(href="#") 5
              li
                a(href="#")
                  i.fas.fa-angle-double-right
        .reference-design
          .part-title 
            h3 Mẫu thiết kế tham khảo
          .part-content
            .owl-carousel.owl-theme
              .item
                .col-3
                  +card("images/s_item-building.png","Nhà phố 2 mặt tiền","nhà phố", 2)
                .col-3
                  +card("images/s_item-building.png","Nhà phố 2 mặt tiền","nhà phố", 2)
                .col-3
                  +card("images/s_item-building.png","Nhà phố 2 mặt tiền","nhà phố", 2)
                .col-3
                  +card("images/s_item-building.png","Nhà phố 2 mặt tiền","nhà phố", 2)
                .clearfix
              .item
                .col-3
                  +card("images/s_item-building.png","Nhà phố 2 mặt tiền","nhà phố", 2)
                .col-3
                  +card("images/s_item-building.png","Nhà phố 2 mặt tiền","nhà phố", 2)
                .col-3
                  +card("images/s_item-building.png","Nhà phố 2 mặt tiền","nhà phố", 2)
                .col-3
                  +card("images/s_item-building.png","Nhà phố 2 mặt tiền","nhà phố", 2)
                .clearfix
              .item
                .col-3
                  +card("images/s_item-building.png","Nhà phố 2 mặt tiền","nhà phố", 2)
                .col-3
                  +card("images/s_item-building.png","Nhà phố 2 mặt tiền","nhà phố", 2)
                .col-3
                  +card("images/s_item-building.png","Nhà phố 2 mặt tiền","nhà phố", 2)
                .col-3
                  +card("images/s_item-building.png","Nhà phố 2 mặt tiền","nhà phố", 2)
                .clearfix
              .item
                .col-3
                  +card("images/s_item-building.png","Nhà phố 2 mặt tiền","nhà phố", 2)
                .col-3
                  +card("images/s_item-building.png","Nhà phố 2 mặt tiền","nhà phố", 2)
                .col-3
                  +card("images/s_item-building.png","Nhà phố 2 mặt tiền","nhà phố", 2)
                .col-3
                  +card("images/s_item-building.png","Nhà phố 2 mặt tiền","nhà phố", 2)
                .clearfix

        .processing
          .part-title 
            h3 Quy trình thiết kế và thi công trọn gói
          .part-content
            .row
              .col-3
                .inner
                  .process
                    .process-header
                      .number.fleft 1
                      .process-tag.fleft Thiết kế
                      .clearfix
                    .process-content
                      p Thiết kế kiến trúc, khai triển chi tiết bản vẽ, sơ đồ điện nước, kết cấu, phối cảnh ngoại thất, nội thất không gian 3 chiều, hồ sơ kỹ thuật thi công, hồ sơ xin cấp phép xây dựng, giám sát tác giả.
              .col-3
                .inner
                  .process
                    .process-header
                      .number.fleft 1
                      .process-tag.fleft Thiết kế
                      .clearfix
                    .process-content
                      p Thiết kế kiến trúc, khai triển chi tiết bản vẽ, sơ đồ điện nước, kết cấu, phối cảnh ngoại thất, nội thất không gian 3 chiều, hồ sơ kỹ thuật thi công, hồ sơ xin cấp phép xây dựng, giám sát tác giả.
              .col-3
                .inner
                  .process
                    .process-header
                      .number.fleft 1
                      .process-tag.fleft Thiết kế
                      .clearfix
                    .process-content
                      p Thiết kế kiến trúc, khai triển chi tiết bản vẽ, sơ đồ điện nước, kết cấu, phối cảnh ngoại thất, nội thất không gian 3 chiều, hồ sơ kỹ thuật thi công, hồ sơ xin cấp phép xây dựng, giám sát tác giả.
              .col-3
                .inner
                  .process
                    .process-header
                      .number.fleft 1
                      .process-tag.fleft Thiết kế
                      .clearfix
                    .process-content
                      p Thiết kế kiến trúc, khai triển chi tiết bản vẽ, sơ đồ điện nước, kết cấu, phối cảnh ngoại thất, nội thất không gian 3 chiều, hồ sơ kỹ thuật thi công, hồ sơ xin cấp phép xây dựng, giám sát tác giả.
              .clearfix

    block footer
      include ./_partials/footer.pug
  .clearfix
