extends _layouts/layout
block content
  .main-content
    section#content
      #content-wrap
        .aside-res
            .toggle-aside
                i.fas.fa-bars
        #lienhe
          .page-title.text-center
            h1 Liên hệ
          .page-content
            .col-6.form
              .filling-form
                form(action="POST" id="form")
                  h3.form-title.text-center Tư vấn miễn phí
                  p.form-intro.text-center Liên hệ với chúng tôi để được tư vấn miễn phí và hưởng nhiều ưu đãi khác!
                  .col-6.name-input
                    input(type="text" name="name" id="name" placeholder="Tên")
                  .col-6.phone-number-input
                    input(type="text" name="phone" id="phone" placeholder="SĐT")
                  .clearfix
                  .message-input
                    textarea(name="message" id="message", cols="100", rows="5", placeholder="Lời nhắn: ")
                  .submit-btn
                    input(type="submit" placeholder="Gửi đi" value="Gửi đi")

            .col-6.map
              .our-address#googleMap(style="width: 90%; height: 421px;")
            .clearfix
            .info-contact
              .contact-add.info
                img(src="images/s_mark-address.png", alt="mark")
                span Số 12 - Nhổn - Bắc Từ Liêm - Hà Nội
              .contact-phone.info
                img(src="images/s_contact-phone.png", alt="phone")
                span 0978.31.9990
              .contact-mail.info
                img(src="images/s_contact-email.png", alt="mail")
                span thietkenoithat@gmail.com