extends _layouts/layout
block content
    .main-content
        section#content
            .aside-res
                .toggle-aside
                    i.fas.fa-bars
            .section-tintuc.section-ttvatd
                .title
                    h1.title-section Tin Tức
                .row-wraper
                    .row
                        .col-8.col
                            .card
                                .card__inner
                                    .img-card
                                        a(href="#")
                                            img(src="images/h_item_1.png", alt="anh")
                                    .card-body
                                        .title-card
                                            a(href="#")
                                                h2 Thiết kế nhà cấp 4 đẹp
                                        .text Bí quyết xây căn nhà cấp 4 đẹp,Bí quyết xây căn nhà cấp 4 đẹp  Bí quyết xây căn nhà cấp 4 đẹp 
                                        .bottom-card
                                            .more
                                                a(href="#") Xem thêm
                                            .date 27/01/2018
                                            .clearfix
                        .col-4.col
                            .card
                                .card__inner
                                    .img-card
                                        a(href="#")
                                            img(src="images/h_item_2.png", alt="anh")
                                    .card-body
                                        .title-card
                                            a(href="#")
                                                h2 Trang trí nội thất nhà bếp
                                        .text Trang trí nội thất trong bếp của bạn Trang trí nội thất trong bếp của bạn.
                                        .bottom-card
                                            .more
                                                a(href="#") Xem thêm
                                            .date 27/01/2018
                                            .clearfix
                        .col-4.col
                            .card
                                .card__inner
                                    .img-card
                                        a(href="#")
                                            img(src="images/h_item_2.png", alt="anh")
                                    .card-body
                                        .title-card
                                            a(href="#")
                                                h2 Trang trí nội thất phòng ngủ
                                        .text Trang trí nội thất trong phòng ngủ của bạn Trang trí nội thất trong phòng ngủ.
                                        .bottom-card
                                            .more
                                                a(href="#") Xem thêm
                                            .date 27/01/2018
                                            .clearfix
                        .col-4.col
                            .card
                                .card__inner
                                    .img-card
                                        a(href="#")
                                            img(src="images/h_item_2.png", alt="anh")
                                    .card-body
                                        .title-card
                                            a(href="#")
                                                h2 Những điều thú vị đang chờ bạn!
                                        .text Một trong những khó khăn khi đi du học nước ngoài là không thể giao...
                                        .bottom-card
                                            .more
                                                a(href="#") Xem thêm
                                            .date 27/01/2018
                                            .clearfix
                        .clearfix

