extends _layouts/layout
block content
  .main-content
    section#content
      #content-wrap
        .aside-res
            .toggle-aside
                i.fas.fa-bars
        #thietkekientruc.thietke
          .page-title.text-center
            h1 Thiết kế kiến trúc
          .page-content
            .row
              .col-3
                .inner
                  +card("images/s_item-building.png","Nhà phố 2 mặt tiền","nhà phố", 2)
              .col-3
                .inner
                  +card("images/s_item-building.png","Nhà phố 2 mặt tiền","nhà phố", 2)
              .col-3
                .inner
                  +card("images/s_item-building.png","Nhà phố 2 mặt tiền","nhà phố", 2)
              .col-3
                .inner
                  +card("images/s_item-building.png","Nhà phố 2 mặt tiền","nhà phố", 2)
              .col-3
                .inner
                  +card("images/s_item-building.png","Nhà phố 2 mặt tiền","nhà phố", 2)
              .col-3
                .inner
                  +card("images/s_item-building.png","Nhà phố 2 mặt tiền","nhà phố", 2)
              .col-3
                .inner
                  +card("images/s_item-building.png","Nhà phố 2 mặt tiền","nhà phố", 2)
              .col-3
                .inner
                  +card("images/s_item-building.png","Nhà phố 2 mặt tiền","nhà phố", 2)
              .col-3
                .inner
                  +card("images/s_item-building.png","Nhà phố 2 mặt tiền","nhà phố", 2)
              .col-3
                .inner
                  +card("images/s_item-building.png","Nhà phố 2 mặt tiền","nhà phố", 2)
              .col-3
                .inner
                  +card("images/s_item-building.png","Nhà phố 2 mặt tiền","nhà phố", 2)
              .col-3
                .inner
                  +card("images/s_item-building.png","Nhà phố 2 mặt tiền","nhà phố", 2)
              .col-3
                .inner
                  +card("images/s_item-building.png","Nhà phố 2 mặt tiền","nhà phố", 2)
              .col-3
                .inner
                  +card("images/s_item-building.png","Nhà phố 2 mặt tiền","nhà phố", 2)
              .col-3
                .inner
                  +card("images/s_item-building.png","Nhà phố 2 mặt tiền","nhà phố", 2)
              .col-3
                .inner
                  +card("images/s_item-building.png","Nhà phố 2 mặt tiền","nhà phố", 2)
              .clearfix
            .pagination.text-center
              ul
                li
                  a(href="#") 
                    i.fas.fa-angle-double-left
                li
                  a(href="#") 1
                li
                  a(href="#") 2
                li  
                  a(href="#") 3
                li
                  a(href="#") 4
                li
                  a(href="#") 5
                li
                  a(href="#")
                    i.fas.fa-angle-double-right