extends _layouts/layout
block content
    .main-content
        section#content
            .aside-res
                .toggle-aside
                    i.fas.fa-bars
            .section-ttvatd.section-tuyendung
                .title
                    h1.title-section Tuyển Dụng
                .row-wraper
                    .row
                        .col-8.col
                            .card
                                .card__inner
                                    .img-card
                                        a(href="#")
                                            img(src="images/h_item_1.png", alt="anh")
                                    .card-body
                                        .title-card
                                            a(href="#")
                                                h2 Thông tin Tuyển Dụng
                                        .text Bí quyết xây căn nhà cấp 4 đẹp,Bí quyết xây căn nhà cấp 4 đẹp  Bí quyết xây căn nhà cấp 4 đẹp Bí quyết xây căn nhà cấp 4 đẹpBí quyết xây căn nhà cấp 4 đẹpBí quyết xây căn nhà cấp 4 đẹpBí quyết xây căn nhà cấp 4 đẹpBí quyết xây căn nhà cấp 4 đẹpBí quyết xây căn nhà cấp 4 đẹpBí quyết xây căn nhà cấp 4
                                        .bottom-card
                                            .more
                                                a(href="#") xem thêm
                                            .date 27/01/2018
                                            .clearfix
                        .col-4.col
                            .card
                                .card__inner
                                    .img-card
                                        a(href="#")
                                            img(src="images/h_item_2.png", alt="anh")
                                    .card-body
                                        .title-card
                                            a(href="#")
                                                h2 Thông tin Tuyển Dụng
                                        .text Trang trí nội thất trong bếp của bạn Trang trí nội thất trong bếp của bạn.
                                        .bottom-card
                                            .more
                                                a(href="#") xem thêm
                                            .date 27/01/2018
                                            .clearfix
                        .col-4.col
                            .card
                                .card__inner
                                    .img-card
                                        a(href="#")
                                            img(src="images/h_item_2.png", alt="anh")
                                    .card-body
                                        .title-card
                                            a(href="#")
                                                h2 Thông tin Tuyển Dụng
                                        .text Trang trí nội thất trong phòng ngủ của bạn Trang trí nội thất trong phòng ngủ.
                                        .bottom-card
                                            .more
                                                a(href="#") xem thêm
                                            .date 27/01/2018
                                            .clearfix
                        .col-4.col
                            .card
                                .card__inner
                                    .img-card
                                        a(href="#")
                                            img(src="images/h_item_2.png", alt="anh")
                                    .card-body
                                        .title-card
                                            a(href="#")
                                                h2 Thông tin Tuyển Dụng
                                        .text Tuyển dụng nhân viên tuyển dụng nhân viên tuyển dụng nhân viên
                                        .bottom-card
                                            .more
                                                a(href="#") xem thêm
                                            .date 27/01/2018
                                            .clearfix
                        .col-4.col
                            .card
                                .card__inner
                                    .img-card
                                        a(href="#")
                                            img(src="images/h_item_2.png", alt="anh")
                                    .card-body
                                        .title-card
                                            a(href="#")
                                                h2 Thông tin Tuyển Dụng
                                        .text Tuyển dụng nhân viên tuyển dụng nhân viên tuyển dụng nhân viên
                                        .bottom-card
                                            .more
                                                a(href="#") xem thêm
                                            .date 27/01/2018
                                            .clearfix
                        .clearfix

