extends _layouts/layout
block content
  .main-content
    section#content
      #content-wrap
        .aside-res
            .toggle-aside
                i.fas.fa-bars
        #view-tin-tuc
          .row
            .col-8.news-content.news-part
              .news-title
                a(href="#")
                  h1 Thiết kế biệt thự hiện đại 3 tầng Quảng Ninh
              .time-post
                span Bài viết ngày: 
                a(href="#") 05/09/2018
              .main-news-content
                p Diện tích khu đất : 180 m²
                p Tổng diện tích sàn : 380 m²
                p Quy mô : 3 Tầng
                p Biệt thự hiện đại này được thiết kế bằng cách đưa sân vườn vào sâu trong khu đất như vậy có thể lấy sáng cho tất cả các không gian bên trong. Tất cả các phòng đều hướng ra khoảng không gian sân vườn này. Không gian nội thất rộng rãi và thoáng mát, phòng ngủ chính được thiết kế đặc biệt với phòng tắm thiên nhiên. Mặt đứng ngôi Biệt thự này được thiết kế hiện đại với mái ngói có độ dốc thấp.
                img(src="images/designing.png", alt="designing")
                p Biệt thự hiện đại này được thiết kế bằng cách đưa sân vườn vào sâu trong khu đất như vậy có thể lấy sáng cho tất cả các không gian bên trong. Tất cả các phòng đều hướng ra khoảng không gian sân vườn này. Không gian nội thất rộng rãi và thoáng mát, phòng ngủ chính được thiết kế đặc biệt với phòng tắm thiên nhiên. Mặt đứng ngôi Biệt thự này được thiết kế hiện đại với mái ngói có độ dốc thấp.
                img(src="images/designing.png", alt="designing")
            .col-4.relate-news.news-part
              .relate-news-title
                h3 Bài viết liên quan
              .relate-news-content
                ul
                  li
                    i.fas.fa-angle-right.fleft
                    a(href="#") Nhà ở Quận 2, Tp Hồ Chí Minh (Stacking Green House) thiết kế Võ Trọng Nghĩa Architects
                  li
                    i.fas.fa-angle-right.fleft
                    a(href="#") Nhà ở Quận 2, Tp Hồ Chí Minh (Stacking Green House) thiết kế Võ Trọng Nghĩa Architects
                  li
                    i.fas.fa-angle-right.fleft
                    a(href="#") Nhà ở Quận 2, Tp Hồ Chí Minh (Stacking Green House) thiết kế Võ Trọng Nghĩa Architects
                  li
                    i.fas.fa-angle-right.fleft
                    a(href="#") Nhà ở Quận 2, Tp Hồ Chí Minh (Stacking Green House) thiết kế Võ Trọng Nghĩa Architects
                  li
                    i.fas.fa-angle-right.fleft
                    a(href="#") Nhà ở Quận 2, Tp Hồ Chí Minh (Stacking Green House) thiết kế Võ Trọng Nghĩa Architects

            .clearfix