extends _layouts/layout
block content
  .main-content
    section#content
        .aside-res
            .toggle-aside
                i.fas.fa-bars
        .section-view.section-viewMatCat
            .section-wrapper
                .slide-design-wrapper
                    .owl-carousel.owl-theme.slide-design
                        .item
                            img(src="images/h_item.png", alt="anh")
                        .item
                            img(src="images/h_item.png", alt="anh")
                        .item
                            img(src="images/h_item.png", alt="anh")
                        .item
                            img(src="images/h_item.png", alt="anh")
                        .item
                            img(src="images/h_item.png", alt="anh")
                        .item
                            img(src="images/h_item.png", alt="anh")
                        .item
                            img(src="images/h_item.png", alt="anh")
                    .customnav
                        span.btn.prev.fleft
                            img(src="images/h_nav-icon_03.png", alt="prev")
                        .control-item.fleft
                            .count
                                span 1
                                span &nbsp; / &nbsp;
                                span 7
                        span.btn.next.fleft
                            img(src="images/h_nav-icon_07.png", alt="next")
                        .clearfix
                .page-main
                    .row
                        .project.fleft
                            .entry__header
                                .entry-title
                                    h1 YOU KNOWN CAFE & MEDIA STUDIO
                                .client
                                    .entry__meta-box
                                        p.entry__meta-box-title Filed under :
                                        p.bold CÔNG TRÌNH KHÁC
                        .fleft.construction
                            .construction-inner
                        .clearfix
                    .row
                        .line
                    .row
                        .likes.fleft
                            ul.list-inline
                                li
                                    span
                                        i.fas.fa-heart
                                li 4 LIKES
                        .share.fright
                            span.fleft Share : 
                            .list-share.fleft
                                ul.list-inline
                                    li
                                        a(href="#")
                                            i.fab.fa-facebook-f
                                    li
                                        a(href="#")
                                            i.fas.fa-envelope
                                    li
                                        a(href="#")
                                            i.fab.fa-google
                                    li
                                        a(href="#")
                                            i.fab.fa-pinterest-p
                            .clearfix
                        .clearfix
                    .related
                        .row
                            .title-related.fleft
                                h2 RELATED PROJECT
                            .project-nav.fright
                                .list-project-nav
                                    ul.list-inline
                                        li
                                            a(href="viewProject.html")
                                                i.fas.fa-long-arrow-alt-left
                                                span Previous
                                        li
                                            a(href="index.html") All projects
                            .clearfix
                        .row
                                p No related project
