extends _layouts/layout
block content
  .main-content
    section#content
        .aside-res
            .toggle-aside
                i.fas.fa-bars
        .section-view.section-viewProject
            .section-wrapper
                .slide-design-wrapper
                    .owl-carousel.owl-theme.slide-design
                        .item
                            img(src="images/h_project_1.jpg", alt="anh")
                        .item
                            img(src="images/h_project_1-2.jpg", alt="anh")
                        .item
                            img(src="images/h_project_1-3.jpg", alt="anh")
                        .item
                            img(src="images/h_project_1.jpg", alt="anh")
                        .item
                            img(src="images/h_project_1.jpg", alt="anh")
                        .item
                            img(src="images/h_project_1.jpg", alt="anh")
                        .item
                            img(src="images/h_project_1.jpg", alt="anh")
                    .customnav
                        span.btn.prev.fleft
                            img(src="images/h_nav-icon_03.png", alt="prev")
                        .control-item.fleft
                            .count
                                span 1
                                span &nbsp; / &nbsp;
                                span 7
                        span.btn.next.fleft
                            img(src="images/h_nav-icon_07.png", alt="next")
                        .clearfix

                .page-main
                    .row
                        .project.fleft
                            .entry__header
                                .entry-title
                                    h1 NHÀ PHỐ 5 x 16M
                                .client
                                    .entry__meta-box
                                        p.entry__meta-box-title Client :
                                        p.bold Tuấn Anh
                                    .entry__meta-box
                                        p.entry__meta-box-title Filed under :
                                        p.bold NHÀ PHỐ
                        .fleft.construction
                            .construction-inner
                                p.title-construction Công trình: Thiết kế - thi công nhà phố
                                p.acreage Diện tích: 5x16m
                                p.place Địa điểm: TP.HCM
                                p.year Năm thực hiện: 2016
                        .clearfix
                    .row
                        .line
                    .row
                        .likes.fleft
                            ul.list-inline
                                li
                                    span
                                        i.fas.fa-heart
                                li 4 LIKES
                        .share.fright
                            span.fleft Share : 
                            .list-share.fleft
                                ul.list-inline
                                    li
                                        a(href="#")
                                            i.fab.fa-facebook-f
                                    li
                                        a(href="#")
                                            i.fas.fa-envelope
                                    li
                                        a(href="#")
                                            i.fab.fa-google
                                    li
                                        a(href="#")
                                            i.fab.fa-pinterest-p
                            .clearfix
                        .clearfix
                    .related
                        .row
                            .title-related.fleft
                                h2 RELATED PROJECT
                            .project-nav.fright
                                .list-project-nav
                                    ul.list-inline
                                        li
                                            a(href="index.html") All projects
                                        li
                                            a(href="viewMatCat.html")
                                                span Next
                                                i.fas.fa-long-arrow-alt-right
                            .clearfix
                        .row
                            .row-project
                                .col-4
                                        +card("images/h_project_1.jpg","NHÀ PHỐ 5.5X16M","NHÀ PHỐ", 2)
                                .col-4
                                        +card("images/h_project_1.jpg","NHÀ PHỐ 5.5X16M","NHÀ PHỐ", 2)
                                .col-4
                                        +card("images/h_project_1.jpg","NHÀ PHỐ 5.5X16M","NHÀ PHỐ", 2)
                                .col-4
                                        +card("images/h_project_1.jpg","NHÀ PHỐ 5.5X16M","NHÀ PHỐ", 2)
                                .clearfix
