footer#footer
    .footer-top
        .row-footer
            .col-3
                .row-inner
                    .cylinders
                        .title-cylinders
                            h2 Trụ sở chính tại miền bắc
                        .logo
                            a(href="#") 
                                img(src="images/h_logo.png", alt="anh")
                        .address
                            p * Trụ sở chính tại Hà nội
                            p Địa chỉ: số 7/27 - Ngõ 100 - Hoàng Quốc Việt - Hà nội
                            p Điện thoại: 0986 3579 33
            .col-3
                .row-inner
                    .cylinders
                        .title-cylinders
                            h2 VP ĐẠI DIỆN TẠI NGHỆ AN
                        .logo
                            a(href="#") 
                                img(src="images/h_logo.png", alt="anh")
                        .address
                            p * Chi nhánh tại Nghệ An
                            p Địa chỉ : 18 Chu Văn An- Tp. Vinh - Nghệ An
                            p Điện thoại: 0971 528 528
            .col-3
                .row-inner
                    .cylinders
                        .title-cylinders
                            h2 VP ĐẠI DIỆN TẠI ĐÀ NẴNG
                        .logo
                            a(href="#") 
                                img(src="images/h_logo.png", alt="anh")
                        .address
                            p * Chi nhánh tại Đà Nẵng
                            p Địa chỉ : 355/6 Hoàng Diệu – Bình Thuận – Hải Châu – TP Đà Nẵng
                            p Điện thoại: 090 585 49 57
            .col-3
                .row-inner
                    .cylinders
                        .title-cylinders
                            h2 VP ĐẠI DIỆN MIỀN NAM
                        .logo
                            a(href="#") 
                                img(src="images/h_logo.png", alt="anh")
                        .address
                            p * Chi nhánh tại Tp Hồ Chí Minh
                            p Địa chỉ : Lầu 3 số 40, Đường 85, P.Tân Quy, Quận 7, TP Hồ Chí Minh
                            p Điện thoại: 0912 888 496
            .col-3
                .row-inner
                    .cylinders
                        .title-cylinders
                            h2 VP ĐẠI DIỆN TẠI HẢI DƯƠNG
                        .logo
                            a(href="#") 
                                img(src="images/h_logo.png", alt="anh")
                        .address
                            p * Chi nhánh tại Hải Dương
                            p Địa chỉ : 14 Đường Nhữ Đình Hiền-Tân Bình-Hải Dương
                            p Điện thoại: 0986 3579 33
            .clearfix
    .footer-bottom
        .footer-bottom__inner
            .ft-bottom-left.fleft
                ul.list-inline
                    li
                        a(href="#") Trang chủ
                    li
                        a(href="#") Điều khoản
                    li
                        a(href="#") Chính sách bảo mật
                    li
                        a(href="#") Thanh toán
                    li
                        a(href="#") FAQs
                .search
                    form(action="POST")
                        input(type="text" placeholder="Nhập từ khóa rồi Enter...")
                        button(type="button")
                            i.fas.fa-search.fleft
                    .clearfix
            .ft-bottom-right.fright
                .copyright
                    p Copyright © 2013 - 2018 By Công ty CP Kiến trúc và Xây dựng NEW GALAXY
                    p Địa chỉ : Số 7/27 - Ngõ 100 - Hoàng Quốc Việt - Hà Nội
                    a(href="#")
                        img(src="images/item-footer.png", alt="anh")
            .clearfix