aside#aside
    .close.fright
        i.far.fa-times-circle
    .logo
        a(href="#")
            img(src="images/h_logo.png", alt="logo")
    .menu
        ul.list-inline
            li
                a(href="#") THIẾT KẾ KIẾN TRÚC
            li
                a(href="#") THIẾT KẾ NỘI THẤT
            li
                a(href="#") GIỚI THIỆU
            li
                a(href="#") TUYỂN DỤNG
            li
                a(href="#") LIÊN HỆ
            li
                a(href="#") TIN TỨC
            li
                a(href="#") ĐƠN GIÁ THIẾT KẾ
            li
                a(href="#") ĐƠN GIÁ THIẾT KẾ XD
    .icon-header
        ul.list-inline
            li
                a(href="#")
                    i.fab.fa-facebook
            li
                a(href="#")
                    i.fas.fa-envelope
            li
                a(href="#")
                    i.fab.fa-google
            li
                a(href="#")
                    i.fab.fa-pinterest-p