include ../_partials/mixins.pug
<!DOCTYPE html>
html(lang="en")
  head
      title=base.title
      meta(charset="utf-8")
      meta(name="description" content=base.description)
      meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1, shrink-to-fit=no, user-scalable=no")
      meta(name="keywords", content=base.keywords)
      meta(name="author", content=base.author)
      // Styles
      link(rel="stylesheet" type="text/css" href="libs/owlCarousel/assets/owl.theme.default.min.css")
      link(rel="stylesheet" type="text/css" href="libs/owlCarousel/assets/owl.carousel.min.css")
      link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
      block csslibs
      link(rel="stylesheet" type="text/css" href="style.css")
  body
    #wrapper
      #click-closing
      include ../_partials/sidebar.pug
      block content
        block footer
    //#wrapper

    //JS
    // script(src="libs/jQuery/jquery.min.js")
    
    script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
    script(src="libs/owlCarousel/owl.carousel.min.js")
    script(src="libs/validation/jquery.validate.min.js")
    block scriptlibs
    script(src="js/script.js")

